html{   
    font-family: sans-serif;
}

body{
    background-color: #F7F8F9;
}

header{
    background-color: #F7F8F9;
    padding-left: 30px;
    margin-bottom: 20px;
}

h1{
    display: inline-block;
}

header img,
header h1{
    vertical-align: middle;
}
 
main #todolist{
    margin: 0 auto;
    width: 80%;
}

#todolist-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
}

#todolist-bottom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#todolist-top,
#todolist-bottom {
    background-color: #ffff;
}

#todolist-top .btn-blue{
    color: #ffff;
    background-color: #47ACF2;
}

#todolist-top button{
    border: 1px solid lightgrey;
    background-color: #ffff;
    color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

#todolist-bottom ul{
    list-style-type: none;
}

#todolist-bottom ul li div{
    border: 1px solid black;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}

#todolist-bottom ul li .icon-check{
    color: green;
    border: 1px solid green;

 }

 #todolist-bottom ul li .icon-cross{
    color: red;
    border: 1px solid red;
 }



#todolist-bottom ul li .etichetta{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

#todolist-bottom ul li .et-editorial{
    color: white;
    background-color: #47ACF2;
    border: 1px solid #47ACF2;
}

#todolist-bottom ul li .q1-goals{
     color: white;
     background-color: purple;
     border: 1px solid purple;
}

#todolist-bottom ul li .recruiting{
    color: #F7F8F9;
    background-color: green;
    border: 1px solid green;
}

#todolist-bottom ul li .mobile{
    color: #F7F8F9;
    background-color: orange;
    border: 1px solid orange;
}

#todolist-bottom ul li .website{
    color: #F7F8F9;
    background-color: rgb(91, 10, 10);
    border: 1px solid rgb(91, 10, 10);
}

#todolist-bottom ul li .sales{
    color: #F7F8F9;
    background-color: orange;
    border: 1px solid orange;
}