html{   
    font-family: sans-serif;
}

body{
    background-color: #F7F8F9;
}

header{
    background-color: #F7F8F9;
    padding: 20px;
}

h1{
    display: inline-block;
}

header img,
header h1{
    vertical-align: middle;
}
.riquadro {
    background-color: #4EA0FF;
    color: white;
    margin: 2px;
    width: 60px;
    height: auto;
    
}